body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}


header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    justify-content: space-around;
    display: flex;
}

nav {
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}





.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.activity-types {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.activity-type {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
}

.activity-type img {
    max-width: 100px;
    margin-bottom: 10px;
}

.activity-type h2 {
    margin-bottom: 10px;
    color: #333;
}

.activity-type p {
    color: #666;
    font-size: 14px;
}